* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.title-text h1{
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: white;
  white-space: nowrap;
  font-family: 'Carter One', cursive;
}

.main-photo img{
  display: flex;
  width: 100%;
  height: auto;
}

.official-logo {
  position: relative;
  display: flex;
  width: 150px;
  height: 150px;
  left: 50px;
  bottom: 80px;
}

.deul {
  position: relative;
  display: flex;
  width: 80px;
  height: 80px;
  left: 120px;
  bottom: 70px;
}

.intro-text h2{
  position: relative;
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
  justify-content: center;
  top: 50px;
  color: white;
  flex-wrap: wrap;
  font-size: 50px;
}

.intro-text p {
  position: relative;
  text-align: center;
  justify-content: center;
  color: white;
  overflow-wrap: break-word;
  font-size: 18px;
  top: 80px;
}

.name-text h2 {
  position: relative;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 40px;
  color: white;
  top: 150px;
  padding-left: 50px;
}

.name-text p {
  position: relative;
  color: white;
  font-size: 17px;
  top: 160px;
  left: 220px;
  overflow-wrap: break-word;
  line-height: 25px;
}

body {
  font-family: "Arial", serif;
  background-color: #7e00bf;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  position: fixed;
}

div.logo {
  margin-left: 20px;
  padding-top: 10px;
}

.nav-bar {
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 30px;
}

.nav-links ul {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  position: relative;
  list-style: none;
}

.nav-links li a {
  position: relative;
  text-decoration: none;
  color: white;
  padding: 20px 40px;
  display: block;
}

.nav-links li:hover {
  background-color: rgb(143, 143, 143);
  color: black;
}









@media screen and (max-width: 1024px){
  .nav-bar{
    width: 100%;
  }
}

@media screen and (max-width: 600px){

  div.logo {
    margin: 10px; 
  }

  .nav-bar {
    font-size: 20px;
    align-items: right;
  }

  .nav-links li a {
    padding: 20px 15px;
  }

  .intro-text h2{
    font-size: 30px;
  }

  .intro-text p{
    overflow-wrap: break-word;
    font-size: 10px;
  }

  .name-text h2{
    position: relative;
    font-size: 30px;
    justify-content: center;
    text-align: center;
    top: 140px;
    padding: 0;
  }

  .official-logo {
    position: relative;
    width: 120px;
    height: 120px;
    top: 100px;
  }


}