* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1{
  position: absolute;
  font-family: 'Carter One', cursive;
  top: 80px;
  right: 390px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  white-space: nowrap;
}

.main-photo img{
  position: absolute;
  width: 100%;
  max-width: 1000px;
  height: auto;
  top: 170px;
  left: 125px;
}

h2{
  position: relative;
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
  top: 750px;
  color: white;
  flex-wrap: wrap;
}

body {
  font-family: "Arial", serif;
  background-color: #7e00bf;
}

div.logo {
  position: absolute;
  margin-left: 20px;
}

nav {
  position: fixed;
  margin: 0;
  width: 100%;
  background-color: black;
  list-style: none;
  text-align: right;
  padding: 20px 0 20px 0;
  font-size: 25px;
  font-family: 'Bebas Neue', sans-serif;
}

.nav-bar > li {
  display: inline-block;
  justify-content: center;
  padding: 0 90px 0 30px;
}

.nav-bar > li > a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 20px 20px;
}

.nav-bar > li > a:hover {
  background-color: #858585;
}

.intro-text p{
  text-align: center;
  padding-top: 780px;
  color: white;
  overflow-wrap: break-word;
  font-size: 18px;
  line-height: 25px;
}

.purple-logo {
  position: absolute;
  padding-left: 20px;
  top: 810px;
}

.intro-photo {
  position: absolute;
  padding-right: 0;
  padding-left: 770px;
  top: 1300px;
}

@media screen and (max-width: 1024px){
  .nav-bar{
    width: 100%;
  }
}

@media screen and (max-width: 576px){
  div.logo{
    margin-left: 10px;
  }

  .nav-bar > li {
    padding: 0 90px 0 10px;
  }

  .nav-bar > li > a{
    position: absolute;
    font-size: 20px;
    top: 15px;
    padding: 10px 5px 10px 5px;
  }

}