* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.title-text h1{
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: white;
  white-space: nowrap;
  font-family: 'Carter One', cursive;
}

.main-photo img{
  display: flex;
  width: 100%;
  height: auto;
}

.discography-photo img{
  display: flex;
  width: 100%;
  height: auto;
}

.gallery-photo img{
  display: flex;
  width: 100%;
  height: auto;
}
.official-logo {
  position: absolute;
  display: flex;
  width: 150px;
  height: 150px;
  left: 50px;
  top: 1263px;
}

.deul {
  position: absolute;
  display: flex;
  width: 80px;
  height: 80px;
  left: 120px;
  top: 1420px;
}

.neverland-logo {
  position: absolute;
  display: flex;
  width: 150px;
  height: 150px;
  top: 1263px;
  right: 450px;
}

.neon-red {
  position: absolute;
  display: flex;
  width: 70px;
  height: 70px;
  top: 1680px;
  right: 530px;
}

.chic-violet {
  position: absolute;
  display: flex;
  width: 70px;
  height: 70px;
  top: 1600px;
  right: 530px;
}

.cube-logo {
  position: absolute;
  display: flex;
  width: 70px;
  height: 70px;
  top: 1600px;
  left: 50px;
}

.republic-logo {
  position: absolute;
  display: flex;
  width: 70px;
  height: 70px;
  top: 1600px;
  left: 130px;
}

.universal-logo {
  position: absolute;
  display: flex;
  width: 70px;
  height: 70px;
  top: 1680px;
  left: 50px;
}

.hotidol-logo {
  position: absolute;
  display: flex;
  width: 70px;
  height: 70px;
  top: 1680px;
  left: 130px;
}


.intro-text h2{
  position: relative;
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
  justify-content: center;
  top: 50px;
  color: white;
  flex-wrap: wrap;
  font-size: 50px;
}

.intro-text p {
  position: relative;
  text-align: center;
  justify-content: center;
  color: white;
  overflow-wrap: break-word;
  font-size: 18px;
  top: 80px;
}

.name-text h2 {
  position: absolute;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 40px;
  color: white;
  top: 1195px;
  padding-left: 50px;
}

.name-text p {
  position: absolute;
  color: white;
  font-size: 17px;
  top: 1260px;
  left: 220px;
  overflow-wrap: break-word;
  line-height: 25px;
}

.fandom-text h2 {
  position: absolute;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 40px;
  color: white;
  top: 1195px;
  padding-left: 665px;
}

.fandom-text p {
  position: absolute;
  font-size: 17px;
  color: white;
  top: 1260px;
  left: 830px;
  line-height: 25px;
}

.colours-text h2 {
  position: absolute;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 40px;
  color: white;
  top: 1530px;
  right: 380px;
}

.colours-text p {
  position: absolute;
  font-size: 17px;
  color: white;
  top: 1600px;
  left: 750px;
}

.labels-text h2{
  position: absolute;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 40px;
  color: white;
  top: 1530px;
  left: 50px;
}

.labels-text p {
  position: absolute;
  font-size: 17px;
  color: white;
  top: 1600px;
  left: 220px;
  line-height: 25px;
}

.members-text h2 {
  position: relative;
  text-align: center;
  justify-content: center;
  color: white;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 40px;
  top: 800px;
}

.links-text h2 {
  position: relative;
  text-align: center;
  justify-content: center;
  color: white;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 40px;
  top: 1000px;
}

.links-text p {
  position: relative;
  text-decoration: none;
  justify-content: center;
  text-align: center;
  color: white;
  top: 1000px;
}

.links-text a:link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  line-height: 30px;
}

.links-text a:visited {
  text-decoration: none;
  color: white;
}

.links-text a:hover {
  color: rgb(0, 0, 107);
}

body {
  font-family: "Arial", serif;
  background-color: #7e00bf;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  position: fixed;
}

div.logo {
  margin-left: 20px;
  padding-top: 10px;
}

.nav-bar {
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 30px;
}

.nav-links ul {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  position: relative;
  list-style: none;
}

.nav-links li a {
  position: relative;
  text-decoration: none;
  color: white;
  padding: 20px 40px;
  display: block;
}

.nav-links li:hover {
  background-color: rgb(143, 143, 143);
  color: black;
}

.members-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.miyeon-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: auto;
  background-color: white;
  text-align: center;
  margin: 20px;
  padding: 20px;
  top: 860px;
}

.minnie-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: auto;
  background-color: white;
  text-align: center;
  margin: 20px;
  padding: 20px;
  top: 890px;
}

.soojin-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: auto;
  background-color: white;
  text-align: center;
  margin: 20px;
  padding: 20px;
  top: 870px;
}

.soyeon-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: auto;
  background-color: white;
  text-align: center;
  margin: 20px;
  padding: 20px;
  top: 870px;
}

.yuqi-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: auto;
  background-color: white;
  text-align: center;
  margin: 20px;
  padding: 20px;
  top: 880px;
}

.shuhua-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: auto;
  background-color: white;
  text-align: center;
  margin: 20px;
  padding: 20px;
  top: 860px;
}

.miyeon-id {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 275px;
  height: 350px;
  margin-bottom: 10px;
  padding: 20px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.miyeon-box .miyeon-id {
  background-image: url(miyeonid.jpeg);
}

.minnie-id {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 275px;
  height: 350px;
  margin-bottom: 10px;
  padding: 20px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.minnie-box .minnie-id {
  background-image: url(minnieid.jpeg);
}

.soojin-id {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 275px;
  height: 350px;
  margin-bottom: 10px;
  padding: 20px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.soojin-box .soojin-id {
  background-image: url(soojinid.jpeg);
}

.soyeon-id {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 275px;
  height: 350px;
  margin-bottom: 10px;
  padding: 20px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.soyeon-box .soyeon-id {
  background-image: url(soyeonid.jpeg);
}

.yuqi-id {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 275px;
  height: 350px;
  margin-bottom: 10px;
  padding: 20px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.yuqi-box .yuqi-id {
  background-image: url(yuqiid.jpeg);
}

.shuhua-id {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 275px;
  height: 350px;
  margin-bottom: 10px;
  padding: 20px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.shuhua-box .shuhua-id {
  background-image: url(shuhuaid.jpeg);
}

.miyeon-text h3 {
  font-size: 24px;
  line-height: 40px;
}

.minnie-text h3 {
  font-size: 24px;
  line-height: 40px;
}

.soojin-text h3 {
  font-size: 24px;
  line-height: 40px;
}

.soyeon-text h3 {
  font-size: 24px;
  line-height: 40px;
}

.yuqi-text h3 {
  font-size: 24px;
  line-height: 40px;
}

.shuhua-text h3 {
  font-size: 24px;
  line-height: 40px;
}

.miyeon-text p {
  font-size: 17px;
}

.minnie-text p {
  font-size: 17px;
}

.soojin-text p {
  font-size: 17px;
}

.soyeon-text p {
  font-size: 17px;
}

.yuqi-text p {
  font-size: 17px;
}

.shuhua-text p {
  font-size: 17px;
}

.miyeon-box:hover {
  background-color: rgb(231, 231, 231);
  color: black;
}

.minnie-box:hover {
  background-color: lightskyblue;
  color: black;
}

.soojin-box:hover {
  background-color: rgb(196, 0, 0);
  color: white;
}

.soyeon-box:hover {
  background-color: rgb(223, 119, 0);
  color: white;
}

.yuqi-box:hover {
  background-color: rgb(0, 112, 0);
  color: white;
}

.shuhua-box:hover {
  background-color: rgb(255, 255, 19);
  color: black;
}

.gallery-text h1{
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: white;
  white-space: nowrap;
  font-family: 'Carter One', cursive;
}

.discography-text h1{
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: white;
  white-space: nowrap;
  font-family: 'Carter One', cursive;
}


.disco-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.iam-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: auto;
  background-color: white;
  text-align: center;
  margin: 20px;
  padding: 20px;
  top: 50px;
}

.hann-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: auto;
  background-color: white;
  text-align: center;
  margin: 20px;
  padding: 20px;
  top: 50px;
}

.imade-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: auto;
  background-color: white;
  text-align: center;
  margin: 20px;
  padding: 20px;
  top: 50px;
}

.latata-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: auto;
  background-color: white;
  text-align: center;
  margin: 20px;
  padding: 20px;
  top: 100px;
}

.uhoh-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: auto;
  background-color: white;
  text-align: center;
  margin: 20px;
  padding: 20px;
  top: 100px;
}

.itrust-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: auto;
  background-color: white;
  text-align: center;
  margin: 20px;
  padding: 20px;
  top: 100px;
}

.imthetrend-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: auto;
  background-color: white;
  text-align: center;
  margin: 20px;
  padding: 20px;
  top: 150px;
}

.dumdi-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: auto;
  background-color: white;
  text-align: center;
  margin: 20px;
  padding: 20px;
  top: 150px;
}

.ohmygod-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: auto;
  background-color: white;
  text-align: center;
  margin: 20px;
  padding: 20px;
  top: 150px;
}

.iam-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  margin-bottom: 10px;
  padding: 20px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.hann-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  margin-bottom: 10px;
  padding: 20px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.imade-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  margin-bottom: 10px;
  padding: 20px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.latata-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  margin-bottom: 10px;
  padding: 20px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.uhoh-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  margin-bottom: 10px;
  padding: 20px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.itrust-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  margin-bottom: 10px;
  padding: 20px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.imthetrend-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  margin-bottom: 10px;
  padding: 20px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.dumdi-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  margin-bottom: 10px;
  padding: 20px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.ohmygod-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  margin-bottom: 10px;
  padding: 20px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.iam-box .iam-cover {
  background-image: url(gidleiam.png);
}

.hann-box .hann-cover {
  background-image: url(gidlehann.jpg);
}

.imade-box .imade-cover {
  background-image: url(gidleimade.jpg);
}

.latata-box .latata-cover {
  background-image: url(gidlelatata.jpg);
}

.uhoh-box .uhoh-cover {
  background-image: url(gidleuhoh.jpg);
}

.itrust-box .itrust-cover {
  background-image: url(gidleitrust.jpg);
}

.imthetrend-box .imthetrend-cover {
  background-image: url(gidleimthetrend.png);
}

.dumdi-box .dumdi-cover {
  background-image: url(gidledumdidumdi.jpg);
}

.ohmygod-box .ohmygod-cover {
  background-image: url(gidleohmygod.jpg);
}
@media screen and (max-width: 1024px){
  .nav-bar{
    width: 100%;
  }
}

@media screen and (max-width: 600px){

  div.logo {
    margin: 10px; 
  }

  .nav-bar {
    font-size: 20px;
    align-items: right;
  }

  .nav-links li a {
    padding: 20px 15px;
  }

  .intro-text h2{
    font-size: 30px;
  }

  .intro-text p{
    overflow-wrap: break-word;
    font-size: 14px;
  }

  .name-text h2{
    position: relative;
    font-size: 30px;
    justify-content: center;
    text-align: center;
    top: 120px;
    padding: 0;
  }

  .name-text p {
    position: relative;
    font-size: 14px;
    justify-content: center;
    text-align: center;
    padding: 0;
    left: 0;
    top: 300px;
    line-height: 20px;
  }

  .fandom-text h2 {
    position: relative;
    font-size: 30px;
    justify-content: center;
    text-align: center;
    top: 340px;
    padding: 0;
  }

  .fandom-text p {
    position: relative;
    font-size: 14px;
    justify-content: center;
    text-align: center;
    top: 520px;
    padding: 0;
    left: 0;
    right: 0;
  }

  .labels-text h2 {
    position: relative;
    font-size: 30px;
    justify-content: center;
    text-align: center;
    top: 410px;
    left: 0;
    padding: 0;
  }

  .labels-text p {
    position: relative;
    font-size: 14px;
    justify-content: center;
    text-align: center;
    top: 510px;
    left: 0;
    padding: 0;
  }

  .colours-text h2 {
    position: relative;
    font-size: 30px;
    justify-content: center;
    text-align: center;
    top: 840px;
    left: 0;
    padding: 0;
  }

  .colours-text p {
    position: relative;
    font-size: 14px;
    justify-content: center;
    text-align: center;
    top: 950px;
    left: 0;
    padding: 0;
  }

  .members-text h2 {
    position: relative;
    font-size: 30px;
    justify-content: center;
    text-align: center;
    top: 860px;
    left: 0;
    padding: 0;
  }

  .official-logo {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 750px;
    left: 130px;
  }

  .deul {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 750px;
    left: 300px;
  }

  .neverland-logo {
    position: absolute;
    top: 1210px;
    left: 220px;
  }

  .cube-logo {
    position: absolute;
    left: 135px;
    top: 1690px;
  }

  .republic-logo {
    position: absolute;
    top: 1690px;
    left: 215px;
  }

  .universal-logo {
    position: absolute;
    top: 1690px;
    left: 295px;
  }

  .hotidol-logo {
    position: absolute;
    top: 1690px;
    left: 375px;
  }

  .neon-red {
    position: absolute;
    top: 1970px;
    left: 215px;
  }

  .chic-violet {
    position: absolute;
    top: 1970px;
    left: 295px;
  }

}